body {
    font-family: Arial;
    background: #f7f7f7;
}

.container {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background: black;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.output {
    margin-top: 20px;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}
